"*":
  "advanced-open-file":
    createDirectories: true
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    cpp:
      default_beautifier: "clang-format"
    css:
      indent_char: " "
      indent_size: 2
    ejs:
      indent_char: " "
      indent_size: 2
      indent_with_tabs: false
    executables:
{{- if eq .chezmoi.hostname "kou-MAir" }}
      "clang-format":
        path: "/opt/homebrew/opt/llvm/bin/clang-format"
{{- end }}
      black:
        path: "/home/kou/.local/bin/black"
    general:
      _analyticsUserId: "dd71dd2a-b58b-4ab6-b288-2708b3466b51"
      muteUnsupportedLanguageErrors: true
    html:
      indent_char: " "
      indent_size: 2
    js:
      indent_char: " "
      indent_size: 2
      indent_with_tabs: false
    python:
      default_beautifier: "black"
    tss:
      indent_size: 2
    tsx:
      indent_size: 2
      indent_with_tabs: false
    typescript:
      indent_size: 2
      indent_with_tabs: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "autosave"
      "spell-check"
      "about"
      "archive-view"
      "autoflow"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "fuzzy-finder"
      "image-view"
      "styleguide"
      "symbols-view"
      "welcome"
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: [
      "project-plus"
      "atom-beautify"
      "move-panes"
    ]
    projectHome: ""
    telemetryConsent: "limited"
    themes: [
      "isotope-light-ui"
      "pen-paper-code-coffee-syntax"
    ]
    titleBar: "hidden"
  "daylight-ui": {}
  editor:
    fontFamily: "azuki_font_modified, Inconsolata Nerd Font, Inconsolata, Roboto Mono, Consolas, Menlo, monospace"
{{- if eq .chezmoi.hostname "kou-Ace" }}
    fontSize: 22
{{- else }}
    fontSize: 17
{{- end }}
    lineHeight: 1.4
    selectionClipboard: false
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: false
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "e90844f2-a9e5-4f87-99d0-79878a7702f7"
  "git-diff": {}
  github: {}
  "isotope-light-ui":
    backgroundGradient: true
    fontFamily: "Ubuntu"
    minimalMode: true
  "one-light-ui": {}
  "project-manager":
    alwaysOpenInSameWindow: true
  "project-plus":
    autoDiscover: false
    showPath: true
  "seti-ui":
    compactView: true
    hideProjectTab: true
    themeColor: "Orange"
  "tree-view": {}
  "vs-blue-ui":
    fontSize: 12
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
