'.platform-win32, .platform-linux':
  'alt-,': 'pane:show-previous-item'
  'alt-.': 'pane:show-next-item'
  'ctrl-k': 'core:cut'
  'ctrl-u': 'core:paste'
  'ctrl-s': 'core:save'
  'ctrl-shift-S': 'core:save-as'
  'ctrl-shift-R': 'application:open-file'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-n': 'application:new-file'
  #'ctrl-r': 'application:new-file'
  # 'ctrl-x': 'core:close'
  'ctrl-w': 'core:close'
  # 'ctrl-s': 'unset!'
  'ctrl-o': 'window:save-all'
  'ctrl-,': 'window:focus-previous-pane'
  'ctrl-.': 'window:focus-next-pane'
  'ctrl-\\': 'go-to-line:toggle'
  # 'ctrl-\\': 'unset!'
  # 'ctrl-w': 'find-and-replace:show'
  'ctrl-k ctrl-b': 'unset!'
  'alt-s': 'project-manager:save-project'
  'alt-e': 'project-manager:edit-projects'
  'alt-p': 'project-manager:list-projects'
  # 'alt-shift-P': 'unset!'
  'ctrl-b': 'atom-beautify:beautify-editor'
  'ctrl-alt-,': 'move-panes:move-previous'
  'ctrl-alt-.': 'move-panes:move-next'
  'alt-\\': 'pane:split-right-and-copy-active-item'
  'alt-|': 'pane:split-right-and-copy-active-item'
  'ctrl-<': 'application:show-settings'
  'ctrl->': 'key-binding-resolver:toggle'
  'ctrl-r': 'advanced-open-file:toggle'

'.platform-win32 atom-workspace atom-text-editor, .platform-linux atom-workspace atom-text-editor':
  'ctrl-d': 'editor:duplicate-lines'
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
  'ctrl-[': 'editor:fold-current-row'
  'ctrl-]': 'editor:unfold-current-row'
  'ctrl-{': 'editor:fold-all'
  'ctrl-}': 'editor:unfold-all'
  'ctrl-shift-left': 'unset!'
  'ctrl-shift-right': 'unset!'
  'ctrl-k ctrl-l': 'unset!'
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-shift-B': 'atom-beautify:beautify-editor'
  'ctrl-alt-o': 'unset!'
  'ctrl-n': 'find-and-replace:find-next'
  'ctrl-p': 'find-and-replace:find-previous'
  'ctrl-u': 'unset!'
  'ctrl-k ctrl-d': 'unset!'
  'alt-down': 'editor:move-line-down'
  'alt-up': 'editor:move-line-up'
  'ctrl-l': 'editor:delete-line'
  'ctrl-<': 'unset!'
  'ctrl-r': 'unset!'
  'ctrl-t': 'detect-indentation:show-selector'

'.platform-win32 .tree-view, .platform-linux .tree-view':
  'ctrl-k down': 'unset!'
  'ctrl-k h': 'unset!'
  'ctrl-k j': 'unset!'
  'ctrl-k k': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'

'.platform-darwin':
  'alt-,': 'pane:show-previous-item'
  'alt-.': 'pane:show-next-item'
  'cmd-k': 'core:cut'
  'cmd-u': 'core:paste'
  'cmd-s': 'core:save'
  'cmd-shift-S': 'core:save-as'
  'cmd-shift-R': 'application:open-file'
  'cmd-k cmd-alt-w': 'unset!'
  'cmd-k cmd-down': 'unset!'
  'cmd-k cmd-left': 'unset!'
  'cmd-k cmd-n': 'unset!'
  'cmd-k cmd-p': 'unset!'
  'cmd-k cmd-right': 'unset!'
  'cmd-k cmd-up': 'unset!'
  'cmd-k cmd-w': 'unset!'
  'cmd-k down': 'unset!'
  'cmd-k left': 'unset!'
  'cmd-k right': 'unset!'
  'cmd-k up': 'unset!'
  'cmd-n': 'application:new-file'
  #'cmd-r': 'application:new-file'
  # 'cmd-x': 'core:close'
  'cmd-w': 'core:close'
  # 'cmd-s': 'unset!'
  'cmd-o': 'window:save-all'
  'cmd-,': 'window:focus-previous-pane'
  'cmd-.': 'window:focus-next-pane'
  'cmd-\\': 'go-to-line:toggle'
  'cmd-_': 'go-to-line:toggle'
  # 'cmd-\\': 'unset!'
  # 'cmd-w': 'find-and-replace:show'
  'cmd-k cmd-b': 'unset!'
  'alt-s': 'project-manager:save-project'
  'alt-e': 'project-manager:edit-projects'
  'alt-p': 'project-manager:list-projects'
  # 'alt-shift-P': 'unset!'
  'cmd-b': 'atom-beautify:beautify-editor'
  'cmd-alt-,': 'move-panes:move-previous'
  'cmd-alt-.': 'move-panes:move-next'
  'alt-|': 'pane:split-right-and-copy-active-item'
  'cmd-<': 'application:show-settings'
  'cmd->': 'key-binding-resolver:toggle'
  'cmd-r': 'advanced-open-file:toggle'

'.platform-darwin atom-workspace atom-text-editor':
  'cmd-d': 'editor:duplicate-lines'
  'cmd-k cmd-0': 'unset!'
  'cmd-k cmd-1': 'unset!'
  'cmd-k cmd-2': 'unset!'
  'cmd-k cmd-3': 'unset!'
  'cmd-k cmd-4': 'unset!'
  'cmd-k cmd-5': 'unset!'
  'cmd-k cmd-6': 'unset!'
  'cmd-k cmd-7': 'unset!'
  'cmd-k cmd-8': 'unset!'
  'cmd-k cmd-9': 'unset!'
  'cmd-[': 'editor:fold-current-row'
  'cmd-]': 'editor:unfold-current-row'
  'cmd-{': 'editor:fold-all'
  'cmd-}': 'editor:unfold-all'
  'cmd-shift-left': 'unset!'
  'cmd-shift-right': 'unset!'
  'cmd-k cmd-l': 'unset!'
  'cmd-k cmd-u': 'unset!'
  'cmd-alt-o': 'unset!'
  'cmd-n': 'find-and-replace:find-next'
  'cmd-p': 'find-and-replace:find-previous'
  'cmd-u': 'unset!'
  'cmd-k cmd-d': 'unset!'
  'alt-down': 'editor:move-line-down'
  'alt-up': 'editor:move-line-up'
  'cmd-l': 'editor:delete-line'
  'cmd-<': 'unset!'
  'cmd-r': 'unset!'
  'cmd-t': 'detect-indentation:show-selector'

'.platform-darwin .tree-view':
  'cmd-k down': 'unset!'
  'cmd-k h': 'unset!'
  'cmd-k j': 'unset!'
  'cmd-k k': 'unset!'
  'cmd-k l': 'unset!'
  'cmd-k left': 'unset!'
  'cmd-k right': 'unset!'
  'cmd-k up': 'unset!'
