unbind C-b
set -g prefix C-j
bind-key C-j send-prefix
set-window-option -g xterm-keys on
set-option -g default-terminal "xterm-256color"

bind-key -T copy-mode Space send-keys -X copy-pipe-and-cancel {{- if eq .chezmoi.os "darwin" }} "pbcopy" {{- else }} "xclip -selection clipboard -i" {{- end }} 
bind-key -T copy-mode M-Left send-keys -X previous-word
bind-key -T copy-mode M-Right send-keys -X next-word-end

set-option -g status on
set-option -g status-interval 2
set-option -g status-left-length 20
set-option -g status-right-length 200

set-option -g status-bg "colour223"
set-option -g status-fg "colour0"
set-option -g status-left "#{?client_prefix,#[bg=colour118]#h[#S]#[bg=colour223]#[fg=colour118],#h[#S] }#[default] "
set-option -g status-right "#[fg=colour75]#[bg=colour75,fg=colour228]#(~/.tmux.ps.py #{pane_pid} 'jobs ' ' #[fg=colour105]#[bg=colour105,fg=colour228]ps ') #[fg=colour177]#[bg=colour177,fg=colour228]#T"
set-window-option -g window-status-format "(#I:#W#(pgrep -P #{pane_pid} && echo '*'))"
set-window-option -g window-status-current-format "#[fg=colour123]#[bg=colour123,fg=colour0]#I:#W#[bg=colour223,fg=colour123]#[default]"
