{{- if eq .chezmoi.hostname "staranise" }}
[user]
	name = 21nakakou
	email = nakak_u21@yahoo.co.jp
[safe]
	directory = *
{{- end }}
[http]
	sslVerify = False
[credential]
	helper = cache
[push]
	default = simple
	recurseSubmodules = check
[core]
	editor = micro
	pager = delta
[pull]
	rebase = false
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	light = true

