[http]
	sslVerify = False
[credential]
	helper = cache
[push]
	default = simple
	recurseSubmodules = check
[core]
	editor = nano
	pager = less
{{ if eq .chezmoi.os "windows" }}
	autocrlf = input
	filemode = false
{{ end }}
[pull]
	rebase = false
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	light = true
[include]
	path = ~/.gitconfig.local
