#!/bin/sh
{{- if or ( eq .chezmoi.hostname "kou-Ace" ) ( eq .chezmoi.hostname "kou-CelKn" ) }}
src=/mnt/d
dst=/mnt/hd0/data
host=kou@192.168.3.200
pass=Alarm1117Pi
sshopt="ssh -p 22 -o 'StrictHostKeyChecking no'"
opt="-auvz"
exec_rsync () {
    echo "rsync $opt $3 $src/$1/ -> $dst/$2/"
    sshpass -p $pass rsync $opt $3 -e "$sshopt" "$src/$1/" $host:"$dst/$2/"
    echo
}
cd $src

exec_rsync Cakewalk\ Projects DTM/Cakewalk\\\ Projects
exec_rsync LMMS DTM/LMMS
exec_rsync Cymatics DTM/Cymatics
exec_rsync GCT GCT
exec_rsync Projects Projects
# exec_rsync OneDrive/kakeibo.ods .
echo "rsync $opt $src/OneDrive/kakeibo.ods -> $dst/"
sshpass -p $pass rsync $opt -e "$sshopt" "$src/OneDrive/kakeibo.ods" $host:"$dst/"

exec_rsync OneDrive/midi midi --del
exec_rsync OneDrive/Na_Music Na_Music --del
exec_rsync OneDrive/RT資料 RoboTech/RT資料
exec_rsync OneDrive/RCAP2022 RCAP2022
exec_rsync OneDrive/UTC RoboTech/UTC
#exec_rsync RoboTech/春ロボ2022 RoboTech/RT資料/春ロボ2022
exec_rsync OneDrive/GCT資料 GCT/GCT資料
exec_rsync OneDrive/python python --del
exec_rsync kaitou kaitou
#for dir in RoboTech/* RoboTech/lecture/*; do
#    del=""
#    if [ "$dir" = "RoboTech/git" -o -e "$dir/.git" ] ; then
#        del="--del"
#    fi
#    if [ "$dir" != "RoboTech/tmp" -a "$dir" != "RoboTech/lecture" ] ; then
#        exec_rsync "$dir" "$dir" "$del"
#    fi
#done
{{- end }}
{{- if eq .chezmoi.hostname "kou-CelKn" }}
exec_rsync OneDrive\ -\ The\ University\ of\ Tokyo/UTokyo UTokyo -del
{{- end }}

{{- if eq .chezmoi.hostname "kou-MAir" }}
rsync=/opt/homebrew/bin/rsync
opt="-avz --iconv=utf-8-mac,utf-8"
dest="kou@192.168.3.200:/mnt/hd0/data"
# $rsync $opt --exclude={".DS_Store","*.mscz,"} /Users/kou/Documents/MuseScore3/ $dest/DTM/MuseScore3/
$rsync $opt --exclude={".DS_Store"} $HOME/Projects/ $dest/Projects/
$rsync $opt --exclude={".DS_Store","名称未設定*"} $HOME/Music/GarageBand/ $dest/DTM/GarageBand/
$rsync $opt --exclude={".DS_Store","1*/"} --del $HOME/UTokyo/ $dest/UTokyo/
{{- end }}
